/.idea
.vscode
*.png
*.npy
*.IMG
*.tif
*.jpg
/method/MissionYe
*.pkl
/method/sharad_sim/data
*.7z
/method/geological_units/SIM3292_geodatabase.gdb
*.TAB
__pycache__
Mars_HRSC_MOLA_BlendDEM_Global_200mp_v2.tif
data
*.pyc
*.zip
*.log
